/* Підключення шрифту OpenDyslexic */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/woff/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Загальні стилі */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #D2B2FF, #F1C4FF, #FFFFFF, #D2B2FF);
    color: #333;
}

body.dyslexic {
    font-family: 'OpenDyslexic', sans-serif;
}

/* Контейнер для центрального вирівнювання */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* Заголовки */
h1, h2, h3 {
    font-size: 2rem;
    margin: 20px 0;
    color: #4B2E83;
}

/* Кнопка */
.button {
    background-color: #6A4CFF;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px 0;
}

/* Стилі для картинок */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

/* Стилі для секцій, щоб мати гарну відстань між елементами */
.section {
    margin-bottom: 30px;
}

/* Для великих екранів (планшети, ноутбуки) */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    img {
        max-width: 80%;
    }

    .button {
        font-size: 1.5rem;
        padding: 20px 40px;
    }
}

/* Для мобільних пристроїв (менше ніж 768px) */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
        display: block;
    }

    h1, h2, h3 {
        font-size: 1.5rem;
    }

    .button {
        width: 100%;
        padding: 20px;
        font-size: 1.2rem;
    }

    img {
        max-width: 80%;
        margin: 15px 0;
    }

    .section {
        margin-bottom: 20px;
    }

    .container .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .container .item img {
        max-width: 100%;
        margin-bottom: 15px;
    }
}
