/* Стилі для мобільних пристроїв (ширина екрану до 768px) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Зменшення шрифту для мобільних пристроїв */
  }

  header {
    display: flex;
    flex-direction: column; /* Вертикальне вирівнювання елементів у хедері */
  }

  .container {
    padding: 20px; /* Відступи для мобільних пристроїв */
  }

  .step {
    width: 100%; /* Картки займають всю ширину */
    margin-bottom: 20px; /* Відступ між картками */
  }

  .button {
    width: 100%; /* Кнопка займає всю ширину */
    padding: 15px;
    font-size: 16px; /* Більший шрифт для кнопки */
  }

  img {
    width: 100%; /* Картинки займають всю ширину контейнера */
    height: auto;
  }
}
